<!-- Footer -->
<footer id="footer" class="mt-5" style="background-color: #035096;">

	<!-- container -->
	<div class="container text-light">

		<!-- row -->
		<div class="row">

			<!-- footer logo -->
			<div class="col-md-6">
				<div class="footer-logo">
					<a class="logo" href="/", style="text-decoration: none;" >
						<h2 class="text-white mt-5">eoffice</h2>
					</a>
				</div>
			</div>
			<!-- footer logo -->

			<!-- footer nav -->
			<%# <div class="col-md-6">
				<ul class="footer-nav mt-2">
					<li><a href="/" class="text-white">Home</a></li>
					<li><a href="#"class="text-white">About</a></li>
				</ul>
			</div> %>
			<!-- /footer nav -->

		</div>
		<!-- /row -->

		<!-- row -->
		<div id="bottom-footer" class="row">

			<!-- social -->
			<!-- <div class="col-md-4 col-md-push-8">
				<ul class="footer-social">
					<li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a></li>
					<li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
					<li><a href="#" class="youtube"><i class="fa fa-youtube"></i></a></li>
					<li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
				</ul>
			</div> -->
			<!-- /social -->

			<!-- copyright -->
			<div class="col-md-8 col-md-pull-4  mb-3">
				<div class="footer-copyright">
					<p>Ready to simplify your document management? Sign up now and experience the convenience of eOffice.</p>
				</div>
			</div>
			<!-- /copyright -->

		</div>
		<!-- row -->

	</div>
	<!-- /container -->

</footer>
<!-- /Footer -->